<div class="post-preview">
    <h3 class="post-title"></h3>
    <h5 class="post-subtitle">{{ comment.content }}</h5>
    <p class="post-meta">
        Comment on {{ comment.addedAt|date("d F Y H:i:s") }}
    </p>
</div>
